@media screen and (min-width: 900px) {
  article {
    padding: 1rem 3rem;
  }
}
.table-of-contents{
  margin: 0%;
  bottom: 0;
  font-weight: 400!important;
  color: #000000!important;
}
.page-footer {
  padding-top: 0px
}