
  <div class=" parallax-container z-depth-2">
    <div class="parallax grey  lighten-2" >
      <picture>
        <source type="image/webp" srcset="../../../assets/images/bg/BG1.webp">
        <img src="../../../assets/images/bg/BG1.jpg" alt="background">
      </picture>              
      <div class="row  grey-text text-lighten-4 shadow-text">
        <!-- Big screen -->
        <div class="col  m12 text-over-image hide-on-small-only center-align">
          <h1 class="light">Main Title</h1>
          <h5>
            Sub-title <br>
            <i class="icon ion-md-arrow-dropdown medium grey-text text-lighten-4" name="arrow-down"></i>
          </h5>
        </div>
        <!-- Medium and Small screen -->
        <div class="col text-over-image  hide-on-med-and-up m4 center-align">
          <h3 class="light" class="shadow-text grey-text text-lighten-4 center-align">Main Title</h3>
          <h5 class="shadow-text grey-text text-lighten-4 center-align">
            Sub-title<br>
            <i class="icon ion-md-arrow-dropdown medium grey-text text-lighten-4" name="arrow-down"></i>
          </h5>
        </div>
      </div>        
    </div>
  </div>
  <div class="section blue-grey lighten-5 z-depth-2">
    <div class=" container grey-text text-darken-3 lighten-3">
        <h3 class="header light center-align">Aliquam in habitasse</h3>
        <h5 class="header light center-align teal-text text-darken-4">Praesentium magna</h5>
        <div class="row center-align">
          <div class="col s12">
            <i class="light icon ion-md-star-outline medium teal-text text-darken-4" name="star-outline">  </i>
            <i class="light icon ion-md-star-outline medium teal-text text-darken-4" name="star-outline">  </i>
            <i class="light icon ion-md-star-outline medium teal-text text-darken-4" name="star-outline"></i>
            <p class="light">
              Lorem ipsum dolor:
            </p>
            <p class="light">
                Per eros. Quis possimus adipiscing etiam eget, consequat interdum sodales porttitor elit arcu, non ultrices. Turpis ad
                dolor, vestibulum enim varius, massa urna. Sem nisl, dolor pulvinar tincidunt nam, suspendisse ac porta vulputate.
                Justo velit adipiscing gravida arcu, facilisi consequat leo a. Duis nostra tellus facilisis mauris repellat donec, a
                dictumst ullamcorper consequat pulvinar interdum nibh, integer phasellus, potenti mauris elit ligula semper, vivamus
                dolor. Ornare integer proin nunc eu eget, amet urna imperdiet.
                <br>
                Aliquam in habitasse pede pellentesque risus quis, sit euismod proin, suspendisse mauris justo lacus dui tristique,
                etiam maecenas dolor arcu molestie vivamus lacus. Condimentum in, ante pellentesque commodo vehicula enim maecenas
                quam. Mauris volutpat pulvinar est, sollicitudin nonummy nec, sed phasellus, sed laoreet eget nunc interdum, habitant
                donec nibh. Dolor ut, est nec. Vestibulum volutpat ac bibendum feugiat lacus, consectetuer tincidunt fames, sem luctus,
                leo egestas ipsum est voluptatem elit.
            </p>
          </div>
        </div>
        <hr>
        <h3 class="header light center-align">Suscipit placerat class</h3>
        <h5 class="header light center-align teal-text text-darken-4">Ullamcorper senectus</h5>
        <div class="row center-align">
          <i class="light icon ion-md-remove medium teal-text text-darken-4" name="remove">  </i>
          <i class="light icon ion-md-heart-empty medium teal-text text-darken-4" name="heart-empty">  </i>
          <i class="light icon ion-md-remove medium teal-text text-darken-4" name="remove"></i>
          <div class="col s12">
            <p class="light">
              Suscipit placerat class, euismod lectus orci. Dui lectus in, hendrerit neque dolor feugiat nulla, egestas donec, dolor
              adipiscing justo suspendisse, maecenas non ligula vitae sollicitudin minus mattis. Imperdiet mi non leo scelerisque
              purus, metus urna vitae corporis quo suscipit dignissim, amet dui urna sed velit, neque ullamcorper suscipit tincidunt
              amet. Ullamcorper senectus, interdum eu wisi pellentesque semper duis, placerat volutpat non laoreet mauris parturient
              nec.
            </p>
          </div>
        </div>
        <div class="hide-on-med-and-up center-align">
          <a routerLink="/about-us" class="waves-effect waves-light btn teal darken-3">laoreet mauris</a>
          <p><br></p>
        </div>
      </div>
  </div>

  <div class="section blue-grey lighten-4 z-depth-2">
    <div class="container grey-text text-darken-3 lighten-3">
        <h3 class="header light center-align">Tellus purus</h3>       
    </div>
    <div class="row center-align">
            <div class="col offset-l1 l10 s12">
              <div class="card horizontal hide-on-small-only">
                <!-- <div class="card-image ">
                  <video class="responsive-video" autoplay muted loop >
                    <source src="../../../assets/videos/.webm" type="video/webm">
                    <source src="../../../assets/videos/.mp4" type="video/mp4">
                    <img src="../../../assets/images/bg/BG1.jpg" title="Your browser does not support the <video> tag">
                  </video>
                </div> -->
                <div class="card-stacked ">
                  <h5 class="light  teal-text text-darken-4" >Tellus purus</h5>
                  <i>Varius faucibus</i>
                  <div class="card-content ">                    
                    <p>
                      ellus purus. Quam sollicitudin cras sit sollicitudin et, ligula amet quisque vulputate, felis lectus suspendisse velit
                      diam metus, a in, proin leo pede. A at in qui, vestibulum pretium, luctus nunc wisi bibendum, varius vitae consequat
                      ultrices odio, et mauris lectus nulla et. Donec sapien non eleifend. Curabitur convallis dolor sem vitae, ipsum in et
                      bibendum gravida quis, etiam mi dignissim praesent nunc justo, cursus arcu litora ligula nam. Integer congue
                      condimentum sed.
                    </p>
                    <a routerLink="page1" class="waves-effect waves-light btn teal darken-3">Wisi tempor quam</a>
                    <p><br></p>
                  </div>
                  
                </div>
              </div>
              <div class="card hide-on-med-and-up">
                <!-- <div class="card-image valign-wrapper">
                  <video class="responsive-video" autoplay muted loop >
                    <source src="../../../assets/videos/.webm" type="video/webm">
                    <source src="../../../assets/videos/.mp4" type="video/mp4">
                  </video>
                </div> -->
                <div class="card-stacked ">
                  <div class="card-content ">
                    <h5 class="light  teal-text text-darken-4">Tellus purus</h5>
                    <i>Varius faucibus</i>
                    <div class="card-content ">
                      <p>
                        ellus purus. Quam sollicitudin cras sit sollicitudin et, ligula amet quisque vulputate, felis lectus suspendisse velit
                        diam metus, a in, proin leo pede. A at in qui, vestibulum pretium, luctus nunc wisi bibendum, varius vitae consequat
                        ultrices odio, et mauris lectus nulla et. Donec sapien non eleifend. Curabitur convallis dolor sem vitae, ipsum in et
                        bibendum gravida quis, etiam mi dignissim praesent nunc justo, cursus arcu litora ligula nam. Integer congue
                        condimentum sed.<br>
                      </p>
                      <a routerLink="page" class="waves-effect waves-light btn teal darken-3">Wisi tempor quam</a>
                      <p><br></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
  <!-- <app-contact></app-contact> -->