<div class=" parallax-container ">
  <div class="parallax grey lighten-2" >
    <picture>
      <source type="image/webp" srcset="../../../assets/images/bg/BG1.webp">
      <img class="parallax-header-img" src="../../../assets/images/bg/BG1.jpg" alt=" background">
    </picture>
    <div class="row grey-text text-lighten-4 shadow-text z-depth-1" >
      <div class="col  m12 text-over-image hide-on-small-only center-align">
        <h2 class="light">Mauris blandit</h2>
        <h3 class="light">Tristique hendrerit amet quam at ante</h3>
      </div>
      <div class="col s12 text-over-image  hide-on-med-and-up center-align">
        <h2 class="light">Mauris blandit</h2>
        <h5 class="light">Tristique hendrerit amet quam at ante</h5>
      </div>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-4 parallax-shadow">
  <div class="container">    
    <div class="row center-align">
      <div class="col offset-l2 l8 s12 ">
        <h5 class="light " style="margin: 40px;  line-height: 110%;">
          Volutpat risus fusce, taciti et in eget, diam accumsan sem quis maiores erat, suspendisse tortor nibh ante enim
        <br><br>
        <span class="teal-text text-darken-4" style="text-transform: capitalize; margin: 30px;">tiam id quam est pretium mattis rhoncus. Nulla odio libero bibendum ipsum at vel</span>
        <br><br>
          Rhoncus dapibus a vestibulum, eget sit quia bibendum at quam quis, viverra ipsum.
        </h5>
      </div>
    </div>    
    
    <div class="row center-align">
      <div class="col offset-l1 l10 s12">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zR3Igc3Rhfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&amp;
        </div>              
      </div>
    </div>
    <div class="row center-align">
      <div class="col l12 s12 ">
        <h5 class="light teal-text text-darken-4" style="margin: 30px;">Taciti et in eget ?</h5>
      </div>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-4  z-depth-3" style="padding-top: 30px; padding-bottom: 30px;">
  <div class=" container grey-text text-darken-3 lighten-3">
    <div class="container">
      <div class="row center" >
        <div class="col offset-l1 l10 s12 ">
          <h5 class="light teal-text text-darken-4" >Volutpat risus fusce</h5>
          <p class="light">
          Volutpat risus fusce, taciti et in eget, diam accumsan sem quis maiores erat, suspendisse tortor nibh ante enim, etiam
          id quam est pretium mattis rhoncus. Nulla odio libero bibendum ipsum at vel, aliquam dictum phasellus a parturient
          posuere at. Ullamcorper diam est magna elementum, purus non condimentum, eget odio accumsan mauris, felis massa ut at..
          </p>
          <p class="light">
            Rhoncus lectus at bibendum, pede aliquam interdum quisque ac nam mauris, ornare taciti, accumsan non dui sit ridiculus
            id. Integer convallis lacus nulla augue sed consequat. Rhoncus dapibus a vestibulum, eget sit quia bibendum at quam
            quis, viverra ipsum.
          </p>
          </div>
      </div>
    </div>
  </div>
</div>
