<div class="section white valign-wrapper">
  <div class="row container grey-text text-darken-3 lighten-3">
    <h3 class="header center-align light">PRIVACY POLICY</h3>
    <div class="row light">
      <div class="col s12">
        <i>Effective date: October, 2018</i>
        <p>
          Lorem ipsum dolor sit amet, placerat ut pellentesque posuere sollicitudin lobortis, erat ante non, scelerisque cursus
          praesent ac, ut arcu ultricies ultrices neque. Montes ut purus mollis morbi eget sed, dignissim porttitor suspendisse
          congue elit ac, nec vulputate lorem cras gravida consequat, vel ut commodo nec id, quis quam ante mi vivamus enim
          blandit. Cras donec risus ut erat. Penatibus ultricies, ipsum suspendisse odio justo, est mauris senectus. Hendrerit
          sed nulla orci, tincidunt venenatis pulvinar, mus risus dictumst nunc egestas, odio etiam inceptos consectetuer per,
          dignissim quis ac nunc tellus tortor. Lectus eget suspendisse sit fermentum commodo, suspendisse maecenas praesent
          neque ante est mauris, porttitor enim mollis a laoreet nulla lectus, wisi justo aliquam, feugiat etiam morbi urna vel
          mauris. Adipiscing aenean, vivamus blandit, dictum in primis malesuada vivamus nulla. Commodo etiam mauris diam
          nonummy
          feugiat eget, potenti tempor suscipit nam malesuada et. Tellus in molestie mi. Non vestibulum maxime magna est ligula
          faucibus, nibh vitae amet, enim volutpat eros porttitor, elementum euismod ut auctor.
        </p>
        
        <h5 class="light">Lorem ipsum dolor</h5>
        <p>
          Lorem ipsum dolor sit amet, placerat ut pellentesque posuere sollicitudin lobortis, erat ante non, scelerisque cursus
          praesent ac, ut arcu ultricies ultrices neque. Montes ut purus mollis morbi eget sed, dignissim porttitor suspendisse
          congue elit ac, nec vulputate lorem cras gravida consequat, vel ut commodo nec id, quis quam ante mi vivamus enim
          blandit. Cras donec risus ut erat. Penatibus ultricies, ipsum suspendisse odio justo, est mauris senectus. Hendrerit
          sed nulla orci, tincidunt venenatis pulvinar, mus risus dictumst nunc egestas, odio etiam inceptos consectetuer per,
          dignissim quis ac nunc tellus tortor. Lectus eget suspendisse sit fermentum commodo, suspendisse maecenas praesent
          neque ante est mauris, porttitor enim mollis a laoreet nulla lectus, wisi justo aliquam, feugiat etiam morbi urna vel
          mauris. Adipiscing aenean, vivamus blandit, dictum in primis malesuada vivamus nulla. Commodo etiam mauris diam
          nonummy
          feugiat eget, potenti tempor suscipit nam malesuada et. Tellus in molestie mi. Non vestibulum maxime magna est ligula
          faucibus, nibh vitae amet, enim volutpat eros porttitor, elementum euismod ut auctor.
        
          Mauris blandit turpis ut, commodo amet fringilla, in dolor quis facilisi velit lorem ut, congue turpis malesuada
          porttitor, porttitor ligula nostrum qui. Integer leo pellentesque nunc amet, odio enim urna tortor. Tristique
          hendrerit
          amet quam at ante, nibh suscipit, tempor felis ante dui hendrerit commodo, purus convallis, eros hendrerit animi
          ultricies. Wisi consectetuer hendrerit, platea at malesuada in amet, laoreet wisi pede, magna tempor neque nibh
          sollicitudin at. Amet inventore urna, dolor ac, mauris vitae enim imperdiet molestie. Vestibulum orci eu laoreet, cum
          pharetra sapien dolor mi, viverra turpis gravida tortor quis.
        </p>
      </div>
    </div>
  </div>
</div>